*{
   box-sizing: border-box;
   margin: 0;
   font-family: 'Quicksand', sans-serif;
   font-size:16px;
}

.container{
  margin: auto;
  width:100%;
}

/*******
** h tags
*********/

h1, h2, h3, h4, h5{font-family: 'Cabin', sans-serif;}

h1{
    font-size: 4em;
    padding-left:1em;
}

h2{
    font-size: 3em;
    color: grey;
    padding: 1em, 0, 0, 1em;
}



/*******
** header, nav menu
********/
#menu{display: none;}

#menu ul{
  list-style-type: none;
}

#menu ul li{
  width:100%;
  background-color:black;
  color:white;
  padding:1em;
  display: inline-block;
  border: 1px 1px 0 1px solid white;
}



header{
   width:100%;
   background-color:black;
   color: white;
   padding: 1em;
}

header #menu-button, header h1{display: inline-block}
header #menu-button{font-size: 3em;}


/**********
** main body
**********/

article p{
    color: grey;
    padding: 1em;
    column-count: 1;
}


/***********
** Nav (I did the cast with a single color gradient in the background)
************/
ul{ padding-left:0;}
nav ul{
    list-style-type: none;
}

nav ul li{
 width:100%;
 padding: 1em;
 display: inline-block;
 font-size: 3em;


/* background*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

nav ul li:nth-child(1){
  background: linear-gradient(rgba(128,128,128, 0.8), rgba(128, 128, 128, 0.8)) , url(images/1.jpg);
 }
nav ul li:nth-child(1):hover{
  background:linear-gradient(rgba(255, 0, 0, 0.3), rgba(255,0,0, .3)), url(images/1.jpg);
 }

 nav ul li:nth-child(2){
   background: linear-gradient(rgba(128,128,128, 0.8), rgba(128, 128, 128, 0.8)) , url(images/2.jpg);
  }
 nav ul li:nth-child(2):hover{
   background:linear-gradient(rgba(255, 0, 0, 0.3), rgba(255,0,0, .3)), url(images/2.jpg);
  }
  nav ul li:nth-child(3){
    background: linear-gradient(rgba(128,128,128, 0.8), rgba(128, 128, 128, 0.8)) , url(images/3.jpg);
   }
  nav ul li:nth-child(3):hover{
    background:linear-gradient(rgba(255, 0, 0, 0.3), rgba(255,0,0, .3)), url(images/3.jpg);
   }



/**********
** social media icons
**********/

aside .social {
    display: block;
}

aside{
    float:right;
    background-color:black;
}

/***********
** Media Queries
************/

@media only screen and (min-width : 600px) {

  .container{width:90%;}
  h1{padding:0;}

   article p{column-count: 2;}

   #menu{display: block;}

   header #menu-button{display: none;}

   #menu ul li{width:24%}

  nav ul li:nth-child(2), nav ul li:nth-child(3){width:50%}

    }

@media only screen and (min-width : 800px) {
  #container{width:70%;}
    article p{column-count: 3;}
    nav ul li{width:32%;}

    aside{
      top:0;
      float: right;
    }
    aside .social{display: inline;}
        }

@media only screen and (min-width : 1000px) {

    }
