
.themeRed{
   background: rgb(107, 28, 28);
}

.themeBlue{
   background: rgb(39, 39, 223);
}

.themeBlack{
   background: rgb(27, 27, 27);
}

#queenSpeach{
  color:white;
  font-size: 1em;
  background-color: brown;
}

.hasborders{
   border: 3px solid green;
}

.hidden{
   display:none;
}

#cards{
   width:70%;
   margin:auto;
   background: url('images/background.png') rgba(30, 172, 160, 0.5);
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

#cards img{
   cursor: pointer;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   padding: 1em;
}

#queentainer{
   float:right;
   position:fixed;
   margin-top: auto;
   margin-left: 85%;
}

#queenSpeach{
   background: white;
   font-family: sans-serif-serif;
}

button{
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   padding:25px;
   font-size: 14px;
   background: url('images/background.png') rgba(30, 172, 160, 0.5);
   margin:auto;
}

#settingsGear{
  width:60px;
  height:60px;
  float:right;
}

.gearson{
   background-image: url('images/gearson.png');
   background-size: 60px;
}
.gearsoff{
   background-image: url('images/gearsoff.png');
      background-size: 60px;
}

#menu{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
border: 1px solid black;
  background-color:  white;
  width:  240px;
  float :right;
  padding: 16px;
}

#menu ul{
  list-style-type: none;
}

#menu ul li{
  width:100%;
  cursor: pointer;
  ;
}